@import url('https://fonts.cdnfonts.com/css/nats');
/* Set the font family for all elements */
* {
  font-family: 'NATS', sans-serif;	
  margin: 0 auto;
  text-align: center;
}

/* Background Style */
/* Set the background color and positioning */
body {
  background-color: #F3F9F1;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

/* Heading Style */
h1 {
  color: 05401F;
  text-align: center;
}

/* Paragraph Style */
p {
  font-size: larger;
}

/* Top Section */
/* Align the elements in the top section */
.top {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* Individual Sections */
/* Styling for each section */
.section {
  margin-top: 30px;
  border-radius: 15px;
  display: inline-block;
  width: 32%;
  height: auto;
  vertical-align: top;
}

/* Middle Section */
/* Styling for the middle section */
.middle {
  margin: 0 auto;
  background-color: #d0d3c1;
  border: 1px solid #3D3D3D;
  height: auto;
  align-items: center;
  margin: 1%;
}

/* Button Style */
/* Styling for the buttons */
.myButtonNew,
.myButton {
  width: 96%;
  height: 10%;
  position: relative;
  background: #95D5B2;
  border: 1px solid #05401F;
  border-radius: 10px;
  color: #05401F;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-top: 6%;
  margin-left: 3%;
  margin-right: 3%;
  box-shadow: 13px 13px 14px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/* Add Icon Style */
.addIcon {
  border: 1px solid #05401F;
  width: 32px;
  height: 32px;
  background-color: #7ab193;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
  color: white;
}

/* Add Icon Positioning */
.addIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.addIconStage{
  scale: 0.2;
  margin: 0 auto;
  margin-top: -20px;
}


/* Title for Stages */
/* Align the title for stages */
.titleStages {
  width: 33.3%;
  display: flex;
  height: 80px;
}

.addThing{
  justify-content: space-around;
  display: flex;
  height: 45.33px;
}

.inputStage{
  width: 70%;
  height: 18px;
  border-radius: 5px;
}

.buttonUserSent,
.buttonStage{
  background: #4DABE0;
  border: 2px solid #05401F;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.buttonUserSent{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 30px;
}

.myButtonNew{
  height: auto;
  padding-bottom: 10px;
}

/* Photo Section, Name Section, Date Section, Local Section */
/* Styling for individual sections */
.photoSection,
.nameSection,
.dateSection,
.localSection {
  border-radius: 8px;
  width: 96%;
  height: auto;
  background: #E7EBD7;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  font-size: large;
  justify-content: center;
}

/* Name Section, Date Section, Local Section */
/* Adjust the height for these sections */
.nameSection,
.dateSection,
.localSection {
  height: auto;
  vertical-align: auto;
  padding-bottom: 20px;
}

/* Put Name Input Style */
.putName {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

/* Delete Button Style */
.deleteButton {
  height: 25px;
  background-color: #ffffff;
  border-radius: 20px;
}

/* Date Input Style */
.dateInput {
  width: 70%;
  height: 50px;
  border-radius: 5px;
}

/* Title Style */
.tittle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  text-align: center;
}

/* Name Style */
.name {
  padding: 5px;
  width: 90%;
  height: 100px;
}

/* Input Title Style */
.inputTittle {
  background: transparent;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 60%;
  padding: 8px;
  font-size: large;
  border-radius: 4px;
  border: none;
}

/* Input Title Placeholder Style */
.inputTittle::placeholder {
  color: black;
}

/* Protocol Name Style */
.protocolName,
.protocolName::placeholder,
.inputStageName,
.inputStageName::placeholder {
  text-align: center;
  width: auto;
  color: white;
  background: none;
  border: none;
  outline: none;
  font-size: xx-large;
}

.removeIcon{
  width: 10%;
}

/* Protocol Name Placeholder Style */
.protocolName::placeholder,
.inputStageName::placeholder {
  color: #05401F;
}
/* buttonSend Style */
.buttonSendProducer,
.buttonSend{
  background: #4DABE0;
  width: 90px;
  margin: 20px;
  border: 2px solid #05401F;
  box-shadow: 13px 13px 14px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  justify-content: center;
  align-items: center;
}
/* buttonSend Style */
.buttonSendProducer:hover,
.buttonUserSent:hover,
.buttonSend:hover{
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
  color: #F3F9F1;
  background-color: #2B5D7A;
}
/* sendProducerForm Style */
.sendProducerForm{
  display: flex;
  flex-direction: column;
}
/* inputProtocol Style */
.inputProtocol{
  width: 40%;
  height: 30px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
/* buttonSendProducer Style */
.buttonSendProducer{
  margin: 0 auto;
}
/* producerReceived Style */
#producerReceived{
  display: flex;
  flex-direction: column;
}

/* Map Style */
#map {
  width: 80%;
  height: 200px;
  margin: 0 auto;
  margin-top: 10px;
}
/* home-link Style */
#home-link {
  position: fixed;
  top: 20px;
  left: 20px;
  display: inline-block;
}
/* home-icon Style */
.home-icon {
  width: 50px;
  height: 50px;
  fill: #3cb371; /* verde um pouco mais escuro */
  stroke: black; /* borda preta */
  stroke-width: 0.5; /* espessura da borda */
}
/* home-link Style */
#home-link:hover .home-icon {
  fill: #2e8b57; /* verde ainda mais escuro */
}

.item{
  display: flex;
  justify-content: space-between;
}