/*nats font import*/
@import url('https://fonts.cdnfonts.com/css/nats');

* {
	font-family: 'NATS', sans-serif;	
	font-size:large;
	margin: 0;
	padding: 0;
}
/*sets h1 font size and color (cadastro)*/
h1 {
	font-size: 40px;
	color: #05401F;
	padding: 0;
	margin: 0;
	line-height: 40px;
}

/* Heading Style */
.title {
	color: #05401F;
	margin-top: 0;
	font-size: 19px;
}
/*styles the element that acts as the background*/
.background {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
/*positions the background image*/
.background::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url("../../../imagens/oranges.jpeg");
	opacity: 0.7;
}

/* frame Style */
.frame {
    padding: 24px;
	width: 45vw;
    height: auto;
    background: #F3F9F1;
    box-shadow: 13px 13px 14px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
/* form Style */
form {
	width: 100%;
	display: flex;
	flex-direction: column;
}

/* Input Style */
input {
	width: 100%;
	box-sizing: border-box;
	padding: 8px 16px;
	color: #3D3D3D;
	background-color: #C3C3C3;
	border: 1px solid #05401F;
	border-radius: 5px;
	font-size: 14px;
}

/* Orange Button Style */
button {
	width: 100%;
	height: 48px;
	cursor: pointer;
	border-radius: 5px;
	align-items: center;
	transition: 0.3s all ease-in-out;
	margin-bottom: 20px;
}

/* Blue Buttons Style */
.bluebutton {
	background-color: #4DABE0;
	color: white;
	border: none;	
}
/* Blue Button Style */
.bluebutton:hover {
	background-color: #F3F9F1;
	color: #4DABE0;
	border: 2px #4DABE0 solid;
}

/* Orange Button Style */
.orangebutton {
	background-color: #D38E65;
	color: white;
	border: none;
}
/* Orange Button Style */
.orangebutton:hover {
	background-color: #F3F9F1;
	color: #D38E65;
	border: 2px #D38E65 solid;
}